// Main Less file

@import 'services';
@import 'colors';
@import 'typography';

html, body, h1, h2, h3, h4, button {
  margin: 0px;
  outline: none;
}


body {
 background-color: #fff;
    background: url("../../images/officedesk.jpg");
     background-position: center;
    background-position-y: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 3000px;
/*font-family: 'raleway','Roboto', sans-serif;*/
font-family: raleway;
}

#header {
    background: url("../../images/officedesk.jpg");
/* background: rgb(82,126,228);*/
    background-position: center;
    background-position-y: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 100px 0px;
      height: 900px;
      max-width: 100%;
      overflow: hidden;
      padding-top:0px;
      position:relative;
      z-index: 4;

     @media (max-width: 667px) {
          background-size: 200% 100%;
         background-position-x: left -200%;
         height:600px;
      }


     svg.watermark {
     width: 200%;
     z-index: -1;
     position: fixed;
     top: -300px;
    left: -500px;
    bottom: -50px;
    opacity: 0.7;

      @media (max-width: 667px) {
          width: 200%;
          top: -20px;
          left: -100px;
      }
    }

  .nav {
      background-color: transparent;
      color: #fff;
      height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    /*opacity: 0; */
    margin-left: 60px;
    margin-bottom: 200px;
    padding: 10px 50px 5px 20px;
    z-index: 20;

    .menu-trigger{
      height: 40px;
      width:40px;
     // background-color: #fff;
      position: fixed;
      border-radius: 50%;
      top: 15px;
      right:30px;

    }

    .menu-trigger span, .menu-trigger span:after,
    .menu-trigger span:before {

      width: 20px;
      height: 2px;
      background-color: #fff;
      position: absolute;

    }

    .menu-trigger span{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

    .menu-trigger span.special:before {
      content: '';
      background-color: royalblue;
      top: -6px;
    }

     .menu-trigger span.special:after {
      content: '';
      background-color: royalblue;
      top: 6px;
    }

      // special class for jquery manipulation

    .menu-trigger span:before {
      content: '';
      top: -6px;
    }

     .menu-trigger span:after {
      content: '';
      top: 6px;
    }

    #navlogo{
        width: 40px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 50px;
        position: absolute;
        opacity: 0.5;

      }

    ul{
      margin-left: 50px;

    }

    ul >li {
      display: inline;
      margin: 5px 25px 5px 25px;;
      font-family: raleway; /*arial, sans serif;*/
      line-height: 20px;
      letter-spacing: 1px;


        &:hover {
         opacity: 1.0;
        }

        }

    a {
      font-size: 1rem;
      font-weight:600;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      opacity: 1;

      &:hover {
        opacity: 1.0;
        color: @accent-color2;
      }

    }

    }



.logo {
  position: relative;
  margin:auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  height: 300px;
  text-align:center;
  padding: 0px 20px 0px 20px;

    @media (max-width: 667px) {
        margin-top: 90px;
      }

  #logo {
    width: 60%;
   // max-width: 2000px;
    margin: auto;
    // position: absolute;
   // top: -50px;
    z-index:99;
      opacity: 0.0;

  }



  h3{
    color:#ffffff;
    /*font-family: gulim, sans-serif;*/
      font-family: 'Pacifico', cursive;
    margin:5px auto;
    font-size: 3em;
    opacity: .8;
    font-weight: lighter;
    /*letter-spacing: 7px;*/

  }

  p{
    color: #fff;
    text-transform: italic;
    letter-spacing: 2px;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px;
  }

  .web, .nostix {
    font-size: 28rem;
    position: absolute;
    font-family: roboto, sans-serif;
    color: #fff;
    font-weight: 600;
    opacity: 1;
    right: 100px;
    bottom: 400px;
  }

 .web {
   color: @accent-color2;
   top: 100px;
   font-size: 26rem;
   // z-index: 3000;
 }

  .nostix {
    right: -570px;
    top: 350px;
  }


  .button {
    width: 130px;
    height: 40px;
    background-color: rgba(250,250,250, 0.0);
    padding: 0px 5px;
    border: 2px solid rgba(250,250,250, 0.5);
    border-radius: 22px;
    font-family: sans-serif;
    margin:auto;
    text-decoration: none;
    color: #fff;
    background-blend-mode: color-burn;
    //font-weight: bold;
    letter-spacing: 2px;
    z-index: 11;


      span{
          text-align: center;
          line-height: 20px;
      }

  }

 }

 #header-subtitle {
   display: grid;
   grid-template-rows: repeat(2, 90px);
   justify-items: left;
   position: absolute;
  //  border-left: 2px solid @accent-color2;
  //  height: 100px;
  top: 100px;


   p {
     top: 0;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 5rem;
     font-weight: 600;
     position: relative;
     color: @accent-color2;

     #ampersand {
       font-size: 15rem;
     }
   }

 }

    #wave {
        height: 250px;;
        width: 100%;
        background-image: url("../../images/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index:0;
        position: absolute;
        bottom: 0px;
        margin: auto;

        @media (min-width: 1208px) {
            bottom: 0px;
            height: 300px;
        }

           @media (min-width: 1547px) {
             bottom: 0px;
            height: 350px;
        }

            @media (min-width: 1651px) {
             bottom: 0px;
            height: 400px;
        }

            @media (max-width: 667px) {
            bottom: 0px;
            height: 200px;
        }
    }

}


#sidebar {
    width: 250px;
    height: 1000px;
 // background-image: url("../../images/logo.svg");
    background-color: rgba(255,255,255, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;


    #close-button {

        height: 30px;
        width: 30px;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
        top: 20px;
        left: 190px;
        transform: rotate(45deg);


        span, span:before, span:after {

        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        }

        span {
          height: 2px;
          width: 22px;
          transform: translate(-50%, -50%);
         }


        span:before {
            content: '';
        }


        span:after{
            content: "";
            height: 22px;
            width: 2px;
            transform: translate(-50%, -50%);
        }
    }

   ul.side-menu {

            list-style: none;
            margin-top: 70px;
            display: block;
            width: 100%;
            margin-left: 0px;
            padding: 0px;

       li {



            &:hover {
               background-color: rgba(255,255,255, 0.1);
           }

       a {
           text-decoration: none;
           text-transform: uppercase;
           font-family: roboto, sans-serif;
           line-height: 30px;
           color: #fff;
           font-size: 0.7rem;
           margin-left: 30px;
           letter-spacing: 1px;



        }


     }
    }

}

//Section 1
#homeSection {

    margin: auto 10%;
    position: relative;
    align-content: center;
    text-align: center;
    // height: 100px;


    .flex-container  {

        min-width: 100%;
        display: flex;
        display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex: 1 0 auto;
        -webkit-flex-flow: row wrap;
	    -moz-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
        color: cornflowerblue;
        position: absolute;
        margin: auto auto;
        top: -280px;
        z-index: 99;
        justify-content: center;
        align-items: center;

        #desktop-app {
            max-width: 70%;
            box-shadow: 4px 4px 25px rgba(0,0,0, 0.4);
            z-index:101
        }

        #afk-website {
            z-index: 100;
            transform: translateX(-200px);
        }

        @media (max-width: 1113px){

               text-align: center;
             }


         h1 {
                     font-size: 2rem;
                     font-weight: 200;
                     width: 115%;
                     right: 15%;
                     margin-top: 30px;
                     font-family: Raleway;
                     color: #fff;

             @media (max-width: 1113px){
                 width: 100%;
                 color: #48598F;
                 margin: 5px 0px;
             }

                 }

        p {
            margin-top: 35px;
            margin-bottom: 20px;
            font-size: 22px;
            color: #48598F;

             @media (max-width: 1113px){

                 margin-bottom: 60px;

             }

        }


    }




}


.rotate-wrapper {
    /*transform: rotate(10deg);  */

    .card-icon {
    max-width: 200px;
    display: block;
    margin: auto auto;
    opacity: 0.9;
    box-shadow: 2 2 4 rgba(0,0,0, 0.5);
   /* Flip image
    moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  */
    }
}

.btn {
    padding:10px 15px;
    border-radius: 5px;
    background-color:#48598F;
    color:#fff;
    text-decoration: none;
    font-weight: 800;

    @media(min-width: 1113px){
       float:left;
    }

}

/* Iphone Section */

#iphone {
    padding-top: 300px;
    margin-top: -100px;
    height: 800px;
    background-color: #fff;

}

#gallery {
    height: 600px;
    background-color: #fff;
    opacity: 0.7;
}


#scrollToTop {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: royalblue;
    position: fixed;
    right: 20px;
    top: 80%;
    z-index: 99;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
    display: none;

    span, span:before, span:after{
        width: 15px;
        height: 3px;
        top: 45%;
        left: 32%;
        background-color: transparent;
        position: absolute;

    }

    span:before {
        content: '';
        transform: rotate(45deg);
        background-color: #fff;
        left: 50%;

    }

    span:after {
        content: '';
        transform: rotate(-45deg);
        background-color: #fff;
        left: -15%;
    }
}

// Services


// #services {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 4rem;
//     width: 100%;
//     min-height: 20rem;
//     z-index:3000;


//     .service {
//         width: 8rem;
//         height: 16rem;
//         border: solid 1px red;
//     }
// }


//animations

@-webkit-keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
