html, body, h1, h2, h3, h4, {
  margin: 0px;
  outline: none;
}


body {
 background-color: #fff;
  height: 2000px;
font-family: 'Roboto', sans-serif;

}

#header {
  background-image: url("../../images/logo.svg"); 
 background: rgb(82,126,228);
background-position: cover;
    background-size: 600% 600%;
repeat: no-repeat;
/* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(82,126,228,1) 0%, rgba(144,206,171,1) 200%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(82,126,228,1) 0%,rgba(144,206,171,1) 200%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(82,126,228,1) 0%,rgba(144,206,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527ee4', endColorstr='#90ceab',GradientType=1 );
/* Gradient Animation */
-webkit-animation: AnimationName 17s ease infinite;
-moz-animation: AnimationName 17s ease infinite;
animation: AnimationName 17s ease infinite;
    
    
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 1000px 0px;
  height: 650px;
  max-width: 100%;
  overflow: hidden;
  padding-top:0px;
  position:relative;
  z-index: 0;
    
    
    
     svg.watermark {
     width: 200%;
     z-index: -1;
     position: fixed;
     top: -300px;
    left: -500px;
    bottom: -50px;
    opacity: 0.7;
      
      @media (max-width: 667px) {
          width: 200%;
          top: -20px;
          left: -100px;
      }
    }
  
  .nav {
      background-color: transparent;
      color: #fff;
      height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    /*opacity: 0; */
    margin-left: 60px;
    margin-bottom: 200px;
    padding: 10px 50px 5px 20px;
    z-index: 20;
    
    .menu-trigger{
      height: 40px;
      width:40px;
     // background-color: #fff;
      position: fixed;
      border-radius: 50%;
      top: 15px;
      right:30px;
      
    }
    
    .menu-trigger span, .menu-trigger span:after,
    .menu-trigger span:before {
      
      width: 20px;
      height: 2px;
      background-color: #fff;
      position: absolute;
    
    } 
    
    .menu-trigger span{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
       
    }
    
    .menu-trigger span:before {
      content: '';
      top: -6px;
    }
    
     .menu-trigger span:after {
      content: '';
      top: 6px;
    }
    
    
    
    #navlogo{
        width: 40px;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 50px;
        position: absolute;
        opacity: 0.5;
        
      }
    
    ul{
      margin-left: 50px;
      
    }
    
    ul >li {
      display: inline;
      margin: 5px 25px 5px 25px;;
      font-family: arial, sans serif;
      line-height: 20px; 
      letter-spacing: 1px;
      
        
        &:hover {
         opacity: 1.0;   
        }
      
        }
    
    a {
      font-size: 0.7rem;
      font-weight: lighter;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      opacity: 0.6;
      
      &:hover {
        opacity: 1.0;
      }
      
    }
    
    }
  


.logo {
  position: relative;
  margin:auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  height: 400px;
 text-align:center;
    padding: 0px 20px 0px 20px;
  
  #logo {
    width: 60%;
   // max-width: 2000px;
    margin: auto;
    postion: absolute;
   // top: -50px;
    z-index:99;
      opacity: 0.0;
   
  }
  
 
  
  h3{
    color:#ffffff;
    font-family: gulim, sans-serif;
    margin:15px auto;
    font-size: 2rem;
    opacity: .8;
    font-weight: lighter;
    letter-spacing: 7px;
  
  }
  
  p{
    color: #fff;
    text-transform: italic;
    letter-spacing: 2px;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  
  .button {
    width: 110px;
    height: 30px;
    background-color: rgba(250,250,250, 0.0);
    padding: 0px 20px;
    border: 2px solid rgba(250,250,250, 0.5);
    border-radius: 22px;
    text-align: center;
    font-family: sans-serif;
    margin:auto;
    text-decoration: none;
    color: #fff;
    background-blend-mode: color-burn;
    //font-weight: bold;
    letter-spacing: 2px;
    z-index: 11;
    line-height: 30px;
  }
  
 }
    
    #wave {
        height: 250px;;
        width: 100%;
        background-image: url("../../images/wave.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index:0;
        position: absolute;
        bottom: 0px;
        margin: auto;
        
        @media (min-width: 1208px) {
            bottom: 0px;
            height: 300px;
        }
        
           @media (min-width: 1547px) {
             bottom: 0px;
            height: 350px;
        }
        
            @media (min-width: 1651px) {
             bottom: 0px;
            height: 400px;
        }
        
            @media (max-width: 667px) {
            bottom: 0px;
            height: 200px;
        }
    }

}


#sidebar {
    width: 250px;
    height: 2000px;
 // background-image: url("../../images/logo.svg");
   background-color: rgba(250,250,250, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;
    
    #close-button {
        
        height: 30px;
        width: 30px;
        background-color: transparent;
        border-radius: 50%;
        position: relative;
        top: 15px;
        left: 190px;
        transform: rotate(45deg);
        
        
        span, span:before, span:after {
            
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        }
        
        span {
          height: 2px;
          width: 22px; 
          transform: translate(-50%, -50%);  
         }
        
        
        span:before {
            content: '';
        }
        
        
        span:after{
            content: "";
            height: 22px;
            width: 2px;
            transform: translate(-50%, -50%);
        }
    }
    
   ul.side-menu {
       
            list-style: none;
            margin-top: 70px;
            display: block;
            width: 100%;
            margin-left: 0px;
           padding: 0px;
        
       li {
           
           
           
            &:hover {
               background-color: rgba(255,255,255, 0.1);
           } 
       
       a {
           text-decoration: none;
           text-transform: uppercase;
           font-family: roboto, sans-serif;
           line-height: 30px;
           color: #fff;
           font-size: 0.7rem;
           margin-left: 30px;
           letter-spacing: 1px;
           
           
                
        }
       
      
     }
    }
 
}

//Section 1 
#homeSection {
    margin: auto 10%;;
}


//animations

@-webkit-keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@keyframes AnimationName { 
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
